<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Tracker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
  <div class="container">
    <h1>Registration Tracker</h1>
    <form id="qr-form">
      <label for="qr-input">Check to see if a student is Registered or Not Registered</label>
      <input type="text" id="qr-input" name="qr-input" placeholder="Enter a Name">
      <button type="submit">Submit</button>
    </form>
    <div id="result"></div>
    <a href="{{ url_for('masterlist') }}">View Student Masterlist</a>
  </div>
</body>
</html>
